.step{
  width: 10%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}

.top-step{
  height: 30px;
  background-color: #76bf30;
  border-radius: 6px;
  border: 2px solid black;
}

.bottom-step-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

}

.bottom-step{
  height: 100%;
  width: 80%;
  background-color: #76bf30;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.step-inner-wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  gap: 8px;
}

.step-inner-top{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.right{
  background-color: #cff97d;
  width: 15%;
  height: 100%;
}

.left{
  background-color: #cff97d;
  width: 5%;
  height: 100%;
}

.height-1{
  margin-left: 2%;
  height: 25%;
}

.height-2{
 height: 50%;
}

.height-3{
 height: 75%;
}

.height-4{
 height: 100%;
}