.step{
  z-index: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}
.step-container{
  height: 100%;
  width: 60px;
}

.step-number{
  margin-top: 30px;
  margin-bottom: 5px;
}

.top-step{
  height: 19px;
  background-color: #76bf30;
  border-radius: 6px;
  border: 2px solid black;
}


.bottom-step{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-texture-container{
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 16px;
  background-color: #76bf30;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.top-texture-container{
  display: flex;
  height: 100%;
  gap: 16px;
}

.inner-step-wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  gap: 3px;
}

.flex-end{
  justify-content: end;
}

.top-radius{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.top-radius-right{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.medium{
  width: 7px;
  height: 100%;
}

.big{
  width: 9px;
  height: 100%;
}

.small{
  width: 2px;
  height: 100%;
}

.extra-small{
  width: 2px;
  height: 100%;
}

.right-side-color{
  background-color: #50830d;
}

.left-side-color{
  background-color: #cff97d;
}

.height-1{
  margin-left: 2%;
  height: 25%;
}

.height-2{
 height: 50%;
}

.height-3{
 height: 75%;
}

.height-4{
 height: 100%;
}

@media (max-width: 600px) {
  /* Your styles for small screens */
  .top-step {
    height: 19px;
  }
}

@media (max-width: 400px) {
  /* Your styles for small screens */
  .top-step {
    height: 19px;
  }

  .step-container{
    height: 100%;
    width: 50px;
  }

  .top-texture-container{
    display: flex;
    height: 100%;
    gap: 0px;
  }

  .bottom-texture-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 70%;
    gap: 0px;
    background-color: #76bf30;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
  }


  .inner-step-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 3px;
  }


}
