/* .like-button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.like-icon:hover {
  transform: scale(1.2);
}

.like-icon {
  height: 15vmin;
  pointer-events: pointer;
  transition: transform 0.3s;
}


.like-button {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform .2s;
  animation: heartbeat 2s infinite ease-in-out;
}

@keyframes heartbeat {
  0%   { transform: scale(1); }
  20%  { transform: scale(1.25); }
  40%  { transform: scale(1); }
  60%  { transform: scale(1.25); }
  80%  { transform: scale(1); }
  100% { transform: scale(1); }
}

/* When button is temporarily disabled */
.like-button:disabled {
  animation: none;
  transform: scale(1);
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled{
  animation: none;
  transform: scale(1);
}