.game-container {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
}

.steps-wrapper {
  display: flex;
  gap: 3vw;
  margin-left: 12vw;
}

.turtle {
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 2vw;
  transition: all 0.6s ease-in-out;
}

.jump-btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 40px;
  border: none;
  background: #ff4f8b;
  color: white;
  cursor: pointer;
}
