.turtle-wrapper{
  position: absolute;
  z-index: 0;
}

.turtle-icon {
  height: 8vmax;
  pointer-events: none;
}


/* Jump animation adds movement ON TOP of the wrapper's position */
.jump {
  animation: turtleJump 0.5s ease-out;
}

@keyframes turtleJump {
  0%   { transform: translate(0, 0) rotate(0); }
  40%  { transform: translate(5%, -50%) rotate(-8deg); }
  100% { transform: translate(5%, 0) rotate(0); }
}
