.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.steps-container {
  position: relative;
  background-color: #282c34;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
  gap: 10px;
}


.logo {
  margin-bottom: 10%;
  pointer-events: none;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
