.App {
  text-align: center;
}

.header{
  height: 20%;
}

.body{
  height: 60%;
}

.footer{
  height: 10%;
}

.main-content{
  height: 40%;
}

.App-backgroun {
  background-color: #282c34;
  height: 100vh;
  color: white;
}

.steps-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8%;
  color: white;
}

.steps{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-left: 20%;
  gap: 20px;
}

.buttons-container{
  height: 100%;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
  padding-top: 20%;

}


.logo {
  padding-top: 10%;
  pointer-events: none;
  height: 50%;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
